%define unmangled_name proton-vpn-cli
%define pep_625_name proton_vpn_cli
%define version {version}
%define upstream_version {upstream_version}
%define release 1

Prefix: %{{_prefix}}
Name: %{{unmangled_name}}
Version: %{{version}}
Release: %{{release}}%{{?dist}}
Summary: %{{unmangled_name}} client

Group: ProtonVPN
License: GPLv3
Vendor: Proton Technologies AG <opensource@proton.me>
URL: https://github.com/ProtonVPN/%{{unmangled_name}}
Source0: %{{pep_625_name}}-%{{upstream_version}}.tar.gz
BuildArch: noarch
BuildRoot: %{{_tmppath}}/%{{pep_625_name}}-%{{version}}-%{{release}}-buildroot

BuildRequires: python3-devel
BuildRequires: python3-setuptools
BuildRequires: python3-dbus-fast
BuildRequires: python3-tabulate
BuildRequires: python3-proton-vpn-api-core >= 4.19.1
BuildRequires: python3-proton-keyring-linux >= 0.1.0
BuildRequires: python3-click

Requires: python3-proton-vpn-api-core >= 4.19.1
Requires: python3-proton-keyring-linux >= 0.1.0
Requires: python3-packaging
Requires: python3-dbus-fast
Requires: proton-vpn-daemon
Requires: python3-tabulate
Requires: python3-click

%{{?python_disable_dependency_generator}}

%description
Package %{{unmangled_name}}.

%prep
%setup -q -n %{{pep_625_name}}-%{{upstream_version}}

%build
%pyproject_wheel

%install
%pyproject_install
%pyproject_save_files proton

%files -n %{{name}} -f %{{pyproject_files}}
%{{_bindir}}/protonvpn

%changelog
